body {
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.let {
	text-align: center;
	padding: 5px;
}

button {
	padding: 10px 20px;
	margin: 10px;
	background-color: skyblue;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.set {
	background-color: white;
	padding: 80px 10px;
	flex: 1;
}

.title {
	font-weight: bold;
	font-size: 30px;
}

.lg-text {
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
}

#dynamic {
	position: relative;
	display: inline-block;
}

#dynamic::after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: -10px;
	width: 4px;
	height: 100%;
	background-color: black;
}

#dynamic.active::after {
	display: none;
}

#testpage {
	background-color: white;
	padding: 80px 10px;
	height: 100%;
}

.testbox {
	background-color: white;
	text-align: center;
	border-radius: 8px;
	margin: 10px;
	padding: 3px;
	font-size: 24px;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	border: 2px solid black;
}

.exbox{
	background-color : white;
	text-align : center;
	font-size : 24px;
	margin-right : auto;
	margin-left : auto;
}

.answerlist {
	background-color: white;
	border-radius: 8px;
	display: block;
	width: 100%;
	border: 0px;
	margin: 5px;
	padding: 3px;
	font-size: 20px;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	border: 2px solid skyblue;
}

.answerlist:hover,
.answerlist:focus {
	background-color: skyblue;
	color: black;
}

#resultpage {
	display: none;
	text-align: center;
	padding: 5px;
}

.result{
	background-color : white;
	padding: 80px 10px;
	flex: 1;
}


